<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="This template was fixed by Komiks#8457" />
    <title>%ServerName%</title>
</head>
<body>
    <table width="683" align="center" border="0" cellpadding="0" cellspacing="0">
        <col width="30" />
        <col width="623" />
        <col width="30" />
        <tr>
            <td colspan="3" style="width:683px;height:180px;background:url(https://cfxdb.com/dist/images/template/top.jpg) no-repeat;"></td>
        </tr>
        <tr>
            <td valign="top" style="background:url(https://cfxdb.com/dist/images/template/left.gif) repeat-y left top;"></td>
            <td valign="top" style="font-family:Arial,Verdana,Tahoma,sans-serif;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="125" valign="top">
                            <div style="margin:0 37px 0 37px;color:#808080;font-size:12px;">
                                <h1 style="margin:0 0 10px 0;color:#4B4B4B;font-size:18px;font-weight:normal;text-decoration:underline;">Hello, this is %ServerName%!</h1>
                                <p style="margin:10px 0 12px 0;">You, our dear customer, have requested Item Lock passcode. <br>at %DateTime%</p>
                                <p style="margin:10px 0 12px 0;">Please check the passcode below and enter the code in-game.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:10px;">
                            <table width="622" align="center" border="0" cellpadding="0" cellspacing="0" style="border:0px solid #000;">
                                <col width="195" />
                                <col width="10" />
                                <col width="410" />
                                <col width="10" />
                                <tr>
                                    <td colspan="4" style="width:622px;height:11px;background:url(https://cfxdb.com/dist/images/template/number_top.gif) no-repeat;"></td>
                                </tr>
                                <tr>
                                    <td height="23" bgcolor="#D7D7D7" align="center" style="background-color:#D7D7D7"><strong style="color:#4B4B4B;font-size:14px;font-family:Arial,Verdana,Tahoma,sans-serif;">Item Lock Passcode</strong></td>
                                    <td bgcolor="#D7D7D7" style="background-color:#D7D7D7">&nbsp;</td>
                                    <td width="410" height="23" bgcolor="#D7D7D7" style="background-color:#D7D7D7"><div style="width:408px; min-height:23px;_height:23px;line-height:20px;padding:0 2px 0;border:1px solid #AFAFAF;background-color:#FFFFFF;font-size:16px;font-family:Arial,Verdana,Tahoma,sans-serif;">%PasscodeText%</div></td>
                                    <td bgcolor="#D7D7D7" style="background-color:#D7D7D7">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="width:622px;height:11px;background:url(https://cfxdb.com/dist/images/template/number_bottom.gif) no-repeat;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="622" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:622px;height:7px;background:url(https://cfxdb.com/dist/images/template/notice_top.gif) no-repeat;"></td>
                                </tr>
                                <tr>
                                    <td height="49" bgcolor="#F7F7F7" style="padding:0 37px 0 37px;background-color:#F7F7F7;">
                                        <h2 style="width:548px;margin:0 -7px 0 -7px;color:#85A3BB;font-size:12px;font-family:Arial,Verdana,Tahoma,sans-serif;">Do not share this passcode to anyone.</h2>
                                        <p style="margin:0;color:#BCBCBC;font-size:11px;font-family:Arial,Verdana,Tahoma,sans-serif;"><!--The email verification code is only valid for 2 hours.--></p>
                                    </td>
                                </tr>
                                <tr>
									<td style="width:622px;height:7px;background:url(https://cfxdb.com/dist/images/template/notice_bottom.gif) no-repeat;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top" style="background:url(https://cfxdb.com/dist/images/template/right.gif) repeat-y left top;"></td>
        </tr>
        <tr>
            <td colspan="3" style="width:683px;height:20px;background:url(https://cfxdb.com/dist/images/template/cont_bottom.gif) no-repeat;"></td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="683" align="center" border="0" cellpadding="0" cellspacing="0">
                    <col width="18" />
                    <col width="647" />
                    <col width="18" />
                    <tr>
                        <td rowspan="3" style="width:18px;height:30px;background:url(https://cfxdb.com/dist/images/template/footer_left.gif) repeat-y left top;"></td>
                        <td style="width:647px;height:8px;background:url(https://cfxdb.com/dist/images/template/copyright_top.gif) no-repeat;"></td>
						<td rowspan="3" style="width:18px;height:30px;background:url(https://cfxdb.com/dist/images/template/footer_right.gif) repeat-y left top;"></td>
                    </tr>
                    <tr>
                        <td height="14" bgcolor="#9F9F9F" align="center" style="background-color:#9F9F9F;color:#FFFFFF;font-size:10px;font-family:Tahoma,Verdana,Arial,sans-serif;">COPYRIGHT © Wemade Max CO., LTD. TRADEMARKS BELONG TO THEIR RESPECTIVE OWNERS. ALL RIGHTS RESERVED.</td>
                    </tr>
                    <tr>
                        <td style="width:647px;height:8px;background:url(https://cfxdb.com/dist/images/template/copyright_bottom.gif) no-repeat;"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:683px;height:11px;background:url(https://cfxdb.com/dist/images/template/footer_bottom.gif) no-repeat;"><img src="" alt="" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>