<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="silkroad, silkroadonline, Joymax, Wemade Max, onlinesilkroad, silkroad-online" />
    <title>%ServerName%</title>
</head>
<body>
    <table width="683" align="center" border="0" cellpadding="0" cellspacing="0">
        <col width="31" />
        <col width="622" />
        <col width="30" />
        <tr>
            <td colspan="3"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/top.jpg" alt="Wemade Max" /></td>
        </tr>
        <tr>
            <td valign="top" style="background:url(http://img.joymax.com/property/joymax/joymax_ml/us/authentication/left.gif) repeat-y left top;"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/left.gif" alt="" /></td>
            <td valign="top" style="font-family:Arial,Verdana,Tahoma,sans-serif;">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="125" valign="top">
                            <div style="margin:0 37px 0 37px;color:#808080;font-size:12px;">
                                <h1 style="margin:0 0 10px 0;color:#4B4B4B;font-size:18px;font-weight:normal;text-decoration:underline;">Hello, this is %ServerName%!</h1>
                                <p style="margin:10px 0 12px 0;">You, our dear customer, have requested a re-issuance of your secondary password <br>at %DateTime%</p>
                                <p style="margin:10px 0 12px 0;">Please check the secondary password below and re-login.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:10px;">
                            <table width="622" align="center" border="0" cellpadding="0" cellspacing="0">
                                <col width="197" />
                                <col width="10" />
                                <col width="410" />
                                <col width="10" />
                                <tr>
                                    <td colspan="4"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/number_top.gif" alt="" /></td>
                                </tr>
                                <tr>
                                    <td height="23" bgcolor="#D7D7D7" align="center" style="background-color:#D7D7D7"><strong style="color:#4B4B4B;font-size:14px;font-family:Arial,Verdana,Tahoma,sans-serif;">Secondary Password</strong></td>
                                    <td bgcolor="#D7D7D7" style="background-color:#D7D7D7">&nbsp;</td>
                                    <td width="410" height="23" bgcolor="#D7D7D7" style="background-color:#D7D7D7"><div style="width:408px; min-height:23px;_height:23px;line-height:20px;padding:0 2px 0;border:1px solid #AFAFAF;background-color:#FFFFFF;font-size:16px;font-family:Arial,Verdana,Tahoma,sans-serif;">%PasscodeText%</div></td>
                                    <td bgcolor="#D7D7D7" style="background-color:#D7D7D7">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/number_bottom.gif" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="622" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/notice_top.gif" alt="" /></td>
                                </tr>
                                <tr>
                                    <td height="49" bgcolor="#F7F7F7" style="padding:0 37px 0 37px;background-color:#F7F7F7;">
                                        <h2 style="width:562px;margin:0 -7px 0 -7px;color:#85A3BB;font-size:12px;font-family:Arial,Verdana,Tahoma,sans-serif;">Should you wish to change the password,<br>simply login and change the secondary password using the password input window. </h2>
                                        <p style="margin:0;color:#BCBCBC;font-size:11px;font-family:Arial,Verdana,Tahoma,sans-serif;"><!--The email verification code is only valid for 2 hours.--></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/notice_bottom.gif" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top" style="background:url(http://img.joymax.com/property/joymax/joymax_ml/us/authentication/right.gif) repeat-y left top;"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/right.gif" alt="" /></td>
        </tr>
        <tr>
            <td colspan="3"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/cont_bottom.gif" alt="" /></td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="683" align="center" border="0" cellpadding="0" cellspacing="0">
                    <col width="18" />
                    <col width="647" />
                    <col width="18" />
                    <tr>
                        <td rowspan="3"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/footer_left.gif" alt="" width="18" height="30" /></td>
                        <td><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/copyright_top.gif" alt="" /></td>
                        <td rowspan="3"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/footer_right.gif" alt="" width="18" height="30" /></td>
                    </tr>
                    <tr>
                        <td height="14" bgcolor="#9F9F9F" align="center" style="background-color:#9F9F9F;color:#FFFFFF;font-size:10px;font-family:Tahoma,Verdana,Arial,sans-serif;">COPYRIGHT © Wemade Max CO., LTD. TRADEMARKS BELONG TO THEIR RESPECTIVE OWNERS. ALL RIGHTS RESERVED.</td>
                    </tr>
                    <tr>
                        <td><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/copyright_bottom.gif" alt="" /></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="http://img.joymax.com/property/joymax/joymax_ml/us/authentication/footer_bottom.gif" alt="" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>