.idea
obj
bin
/.vs/ISRORBilling/FileContentIndex
/.vs/Billing Dev/v17/.wsuo
/Properties/launchSettings.json
/.gitignore
/.gitignore
/.gitignore
/.vs/ISRORBilling
/.vs/ProjectEvaluation
*.json
/appsettings.json
/.gitignore
